@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.nav-title {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
  margin-left: 12px;
  margin-top: 10px;
  padding: 10px 12px;
}

.hamburger {
  margin-right: 20px;
  align-items: center;
}

.hamburger img {
  margin-top: 10px;
}

.hero {
  background-image: url(../Images/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.hero-container {
  width: 100%;
  height: 192px;
  display: flex;
  align-items: center;
  padding-top: 70px;
  margin-left: 24px;
}

.hero-title {
  width: 80%;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  line-height: 52px;
  font-style: normal;
  font-family: 'Inter', sans-serif;
}

.hero-span {
  color: #36b37e;
}

.hero-container2 {
  display: flex;
  justify-content: center;
  height: 164px;
  margin-top: 58px;
  margin-left: 24px;
}

.hero-description {
  margin-top: 314;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-style: normal;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
}

.social {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20px;
  margin-top: 58px;
}

.icon {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  float: left;
}

.action-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  width: 85%;
  height: 48px;
  padding-top: 48px;
}

.action {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  padding: 8px;
}
